@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100%;
    width: 330px;
    position: relative;
}
.wrapper .menu-btn{
    position: absolute;
    top: 10px;
    left: 20px;
    height: 45px;
    width: 45px;
    z-index: 999;
    color: #f2f2f2;
    background: #4a4a4a;
    border: 1px solid #333;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    padding: 14;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
#btn:checked ~ #sidebar{
    left: 0;
}
.wrapper #sidebar{
    position: fixed;
    height: 100%;
    width: 270px;
    background: #404040;
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
}
#sidebar .title{
    color: #f2f2f2;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    background: #333;
    text-align: center;
}
#sidebar .list-items{
    position: relative;
    background: #404040;
    height: 100%;
    width: 100%;
    list-style: none;
}
#sidebar .list-items li:hover{
    box-shadow: 0 0 10px 3px #222;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 10px 3px #222;
}
#sidebar .list-items li{
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
}
#sidebar .list-items li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    display: block;
}
#sidebar .list-items li a i{
    margin-right: 20px;
}
#sidebar .list-items .icons{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sidebar .list-items .icons a{
    margin: 0 5px;
    color: #f2f2f2;
    display: block;
    height: 40px;
    width: 40px;
    background: #4a4a4a;
    border: 1px solid #383838;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    
    padding-top: 10;
    transition: all 0.3 ease;
}
#sidebar .list-items .icons a:hover{
    background: #404040;

}
input[type="checkbox"]{
    display: none;
}
#btn:checked ~ .menu-btn i:before{
    content: "\f00d";
}
#btn:checked ~ .menu-btn{
    left: 247px;
}